.option-container{
  display: flex;
  font-size: 1.8rem;
  /* margin-bottom: 0.8rem; */
  /* border: 1px solid; */
  width: 100%;
  background-color: azure;
  border-radius: 30px;
  margin-top: 24px;

}

.main_container{
  padding: 41px;
  padding-top: 30px;
  background-color: antiquewhite;
}
.radio-prefix{
  width: 50px;
}

.button-container{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    padding: 25px;

}


